body {
    color: black;
  
}

.navbar-main {
    background-color: #7b1010;
}
    .navbar-top {
        background-color: black;
    }

.footer-top {
    background-color: black;
}
.footer-main {
    background-color: #7b1010;
}
.footer-bottom {
    background-color: black;
}
.main-footer .tweet:after{
    background-color:white;
}
.footer-form .form-control {
    background-color: rgb(51,11, 11);
}
.footer-form .btn-submit {
    background-color: rgb(51,11, 11);
  
}
.title-under {
    background-color: black;
}
.title-under
{
      background-color: #7b1010;
}
.cause {
    border: 3px solid black;
    height: 550px;
}
    .cause .cause-img {
        margin-bottom: 15px;
        width: 100%;
    }

.about-us-col {
    background-image: linear-gradient( 160deg, #af2828 -25%, #6b0707 50%, #333 125%);
    color: #fff;
}
.btn-primary {
    background: #77777759;
}
.reasons-col .reasons-titles {
    background-color: #00000096;
}
.reasons-col:hover .on-hover {
    visibility: visible;
    opacity: 1;
    padding: 50px;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    -webkit-transition: all, 1s;
    transition: all, 1s;
}

.reasons-col .on-hover {
    background: #00000096;
}

.about-us-col .col-details {
    text-align: center;
    margin-bottom: 25px;
    min-height: 80px;
}
.cause .cause-details {
     text-align:left; 
    padding: 0 15px;
    font-size: 13px;
    margin-bottom: 15px;
    min-height: 115px;
}


.page-heading {
    min-height: 270px;
}
.lightbox .on-hover {
    background: rgb(125 29 51 / 75%);
}
.gallery-item img {
    border: 1px solid;
  
    box-shadow: 5px 10px #888888;

    margin: 10px 10px;
}


.reasons-col img {
    width: 700px;
}
element.style {
    height: 100%;
}
.title-style-1{

    font-weight:bold;
}
video {
    display:block;
    margin:0 auto;
 
}
.btn-secondary:hover {
    background: #901313;
    color: #fff;
}
iframe {
    MARGIN: 0 AUTO;
    DISPLAY: BLOCK;
}
.lightbox{
    height:170px;
}
.cause:hover {
    background: #f0f0f0;
    color: #901313;
    border-color: #00000000;
}
.about-us-col {

    height: 410px;
}

.btn-primary:hover {
    background: rgb(43 38 38/50%);
    color: #eee;
    border: 3px solid #eee;
}
btn {
    margin-bottom: 50px;
    display: inline-block;
}
.btn-secondary {
    color: #a94442;
    }
.carousel-home .carousel-control {
    background: #790d0d;
   }
body {
    font-family: "Source Sans Pro", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.75;
}

#timeline {
    display: flex;
  
}

    #timeline:hover .tl-item {
        width: 33.33333333%;
    }

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 33.333333333%;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
}

    .tl-item:before, .tl-item:after {
        transform: translate3d(0, 0, 0);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .tl-item:after {
        background: rgba(3, 22, 37, 0.85);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    .tl-item:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .tl-item:hover {
        width: 30% !important;
    }

        .tl-item:hover:after {
            opacity: 0;
        }

        .tl-item:hover:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .tl-item:hover .tl-content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }

        .tl-item:hover .tl-bg {
            filter: grayscale(0);
        }

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;
}

    .tl-content h1 {
        font-weight: bold;
        font-size: 16px;
        font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        color: #ad102e;
        font-size: 1.44rem;
        font-weight: normal;
    }

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
   
    border-bottom: 1px solid #fff;
}

    .tl-year p {
        font-family: "Pathway Gothic One", Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 1.728rem;
        line-height: 0;
    }

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}
.a {
    color: #337ab7;
}
.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:block;
    margin:0 auto;
    width:600px;

}
#logo {
    height: 45px
}